body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Balsamiq Sans", cursive;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
  margin: 2vh auto;
}

.controlsButton {
  font-family: "Balsamiq Sans", cursive;
  color: #f8449f;
  margin: auto 10px;
  background-color: #fff;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  height: 45px;
  width: 130px;
  line-height: 42px;
  padding: 3px 20px;
  text-align: center;
}

.controlsButton:hover,
.closeButton:hover {
  background: #b0e3f5;
  color: #155ba7;
  cursor: pointer;
}

.controlsButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#instructionButton,
#settingsButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: auto 10px;
}

#instructionButton img,
#settingsButton img {
  height: 42px;
  width: auto;
}

.closeButton {
  background-color: #fff;
  font-family: "Balsamiq Sans", cursive;
  color: #f8449f;
  font-size: 26px;
  border: none;
}

.closeButton:active {
  outline: none;
}

.container {
  position: relative;
  width: 500px;
  height: 800px;
  border: 3px #155ba7 solid;
  display: flex;
  background-color: #6bc9ec3d;
  margin-left: 11.7vw;
}

.gameInfo {
  flex-direction: column;
  align-self: flex-start;
}

.containerD,
.containerF,
.containerJ {
  width: 124px;
  position: relative;
  border-right: 2px rgba(255, 255, 255, 0.322) solid;
}

.containerK {
  width: 124px;
  position: relative;
}

.note {
  position: absolute;
  top: 0px;
  left: 22.5px;
  width: 80px;
  height: 80px;
}

.key {
  position: relative;
  top: 600px;
  left: 22.5px;
  background-color: #f8449f;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transition: all 0.1s;
}

.container p {
  color: white;
  font-size: 50px;
  position: absolute;
  margin: 12px 24px;
  cursor: default;
}

#score,
#timer {
  color: #f8449f;
  font-size: 30px;
  margin: 20px;
}

.playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0px 0px 15px 8px white;
}

.screen {
  width: 100px;
  text-align: right;
  color: #fff;
  font-size: 30px;
  float: right;
}

.accuracyScreen {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
  cursor: default;
  top: 400px;
}

.comboScreen {
  color: #f8449f;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 130px;
  cursor: default;
  top: 150px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  color: #f8449f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body div {
  padding-bottom: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.barIndicator {
  position: absolute;
  height: 2px;
  background: white;
  width: 500px;
  z-index: -1;
}
